* {
    margin: 0;
    padding: 0;
    
}

section {
    display: flex;
    width: 100%;
}

div {
    width: 50%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121117;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2B2B2B;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

div {
    background-color: #1E1D23;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0px;
    width: 45%;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-radius: 0px;
}

th {
    background-color: #2B2B2B;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #1a1a1a;
}

.chourouk, .jumua {
    background-color: #490094;
}

.chourouk2, .jumua2 {
    background-color: #490094;
}

.mois {
    background-color: #2B2B2B;
    color: white;
    padding: 10px;
    width: auto;
    margin-bottom: -21px;
    border: 1px solid #dddddd;
    border-radius: 20px 20px 0px 0px;
    
}

.mobile {
    height: 600px;
}

/* Palette :
#121117
#1E1D23
#490094
#2B2B2B
#5E5E5E */